.product1img {
    border: 1px solid rgb(240, 240, 240) !important;
    padding: 5px !important;
    height: 80vh;
  }
  .product1img img {
    width: auto;
    height: 60%;
    margin: 20px auto;
  }
  .product1quckview {
    text-align: center;
    padding: 7px;
    color: #000;
    border: 1px solid rgb(168, 168, 168);
    display: none;
    margin-top: -40px;
    position: relative;
    background: hsla(0, 0%, 100%, 0.6);
    z-index: 99;
    cursor: pointer;
  }
  .product1img span {
    font-size: 25px;
    margin-left: 90%;
    cursor: pointer;
    color: red;
  }
  .product1img:hover .product1quckview {
    display: block !important;
  }
  .productmean {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    display: flex;
  }
  .productfiltermran {
    width: 20%;
    padding-right: 5px;
  }
  .productside {
    width: 80%;
  }
  
  .productgried {
    width: 100%;
    display: grid;
  }
  .headline{
      font-size: 1.71rem;
      font-weight: 500;
  }
  .subheading{
      font-size: .85rem;
      line-height: 16px;
      margin-top: 21px;
      margin-bottom: 21px;
  }
  .pagination{
      box-sizing: border-box;
      margin-top: 40px;
      margin-bottom: 10px;
      height: 24px;
      display: flex;
    }
    .paginationno{
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 80%;
      text-align: center;
  }
  .paginationimages{
      width: 10%;
      gap: 15px;
      justify-content: right;
      display: flex;
      cursor: pointer;
  }
  .paginationoption{
      width: 10%;
      text-align: right;
  }
  .paginationoption select{
      width: 100%;
  }
  .brandimage{
      box-sizing: border-box;
      height: 120px;
  }
  .pagepath{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
  .filteroption select{
      width: 100%;
  }
  .links{
      padding-left: 20px;
      font-weight: 400;
      font-size: 12px;
  }
  .relatedcate{
      font-weight: 600;
      margin-top: 10px;
  }
  .searchfilter{
    margin: 10px 0 0px 0;
    display: flex;
    justify-content: space-between;
  }
  .searchicon{
    padding: 10px;
  }
  .paginationno button{
    font-size: 25px;
    margin: auto 15px ;
    
  }
  .paginationno span{
    font-size: 20px;
    font-weight: 700;

  }
