  
  .img222{
    padding: 50px 0px;
    height: 60vh !important;
  }
  
  .mid2text{
    width: 90%;
    margin: auto;
    margin-top: 60px;
  }
  .mid2text h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #DFDEDD; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-bottom: 40px; 
  } 
  
  .mid2text h2 span { 
     background:#fff; 
     padding:0 10px; 
     font-size: 23px;
     font-weight: 600;
  }
  
  .flexcssswiper{
    display: flex;
    flex-direction: column;
    text-transform: capitalize !important;
  }
  
  
  .blackbuttonhover{
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000 !important;
    margin-top: 2rem !important;
    font-weight: 600;
  }
  .blackbuttonhover:hover{
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;  
    transition: linear 0.3s;
  }
  .lastdownloadbutton{
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    margin: 20px 0px !important;
  }
  .swiper-pagination-bullet{
    display: none !important;
  }
  .lastsliderimg {
    border: 1px solid rgb(209, 203, 203) !important;
    padding: 5px 20px !important;
  }
  .lastsliderimg img{
    width: 100%;
    height: 60vh !important;
  }
  .product1img{
    border: 1px solid rgb(209, 203, 203) !important;
    padding: 5px 20px !important;
    height: 70vh;
  }
  .product1img img{
    width: 100%;
    height: 60%;
    padding: 20px;
  }
  .product1quckview{
    text-align: center;
    padding:7px;
    color:#000;
    border: 1px solid #000;
    display: none;
    margin-top: -40px;
    position: relative;
    background: hsla(0,0%,100%,.6);
    z-index: 99;
  }
  .product1img span{
    font-size: 25px;
    float: right;
  }
  
  .product1img:hover .product1quckview {
  display: block !important;
  }
  
  
  
  /*  */
    /* 
  
    .swiper-pagination-bullet1{
      display: block !important;
    }
  
    .swiper-slide1{
      text-align: center;
      font-size: 18px;
      background: rgb(199, 5, 5);
      height: 30ch !important;
    
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    
     */